button {
  border: none;
  border-radius: 4px;
  padding: 4px 8px;
  font-size: 18px;
  color: white;
  background-color: dodgerblue;
  cursor: pointer;
}

.weathericon {
  width: 70px;
  height: 70px;
  vertical-align: middle;
  margin-left: 10px;
}